<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app>
  <display-name>jMailComposer</display-name>
  <description>jMailComposer allows any JSP/Servlets 2.2 (or higher) to send emails from web browser. Homepage : http://www.javazoom.net/jzservlets/jmailcomposer/</description>
  <servlet>
    <servlet-name>sendmailservlet</servlet-name>
    <servlet-class>javazoom.sendmail.SendMailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>uploadservlet</servlet-name>
    <servlet-class>javazoom.sendmail.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadservlet</servlet-name>
    <url-pattern>/blank/attach</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>sendmailservlet</servlet-name>
    <url-pattern>/blank/attachform</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>sendmailservlet</servlet-name>
    <url-pattern>/blank/compose</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>sendmailservlet</servlet-name>
    <url-pattern>/blank/composenew</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>sendmailservlet</servlet-name>
    <url-pattern>/blank/sendmail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>uploadservlet</servlet-name>
    <url-pattern>/blank/unattach</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>sendmailservlet</servlet-name>
    <url-pattern>/contact/compose</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>sendmailservlet</servlet-name>
    <url-pattern>/contact/composenew</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>sendmailservlet</servlet-name>
    <url-pattern>/contact/sendmail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>uploadservlet</servlet-name>
    <url-pattern>/resume/attach</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>sendmailservlet</servlet-name>
    <url-pattern>/resume/attachform</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>sendmailservlet</servlet-name>
    <url-pattern>/resume/compose</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>sendmailservlet</servlet-name>
    <url-pattern>/resume/composenew</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>sendmailservlet</servlet-name>
    <url-pattern>/resume/sendmail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>uploadservlet</servlet-name>
    <url-pattern>/resume/unattach</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>/documentation/index.html</welcome-file>
  </welcome-file-list>
</web-app>
